<footer th:fragment="footer">
    <div class="outer-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="outer-footer__content u-s-m-b-40">
                        <span class="outer-footer__content-title">Liên hệ</span>
                        <div class="outer-footer__text-wrap"><i class="fas fa-home"></i>
                            <span>261 - 263 Khánh Hội, P5, Q4, TP. Hồ Chí Minh</span>
                        </div>
                        <div class="outer-footer__text-wrap"><i class="fas fa-phone-volume"></i>
                            <span>(+84) 1900 901 904</span>
                        </div>
                        <div class="outer-footer__text-wrap"><i class="far fa-envelope"></i>
                            <span>contact@domain.com</span>
                        </div>
                        <div class="outer-footer__social">
                            <ul>
                                <li>
                                    <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="s-youtube--color-hover" href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div style="margin-top: 10px;">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img1.png">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img2.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="outer-footer__content u-s-m-b-40">
                                <span class="outer-footer__content-title">Thông tin</span>
                                <div class="outer-footer__list-wrap">
                                    <ul>
                                        <li>
                                            <a href="#">Giới thiệu về công ty</a>
                                        </li>
                                        <li>
                                            <a href="#">Chính sách bảo mật</a>
                                        </li>
                                        <li>
                                            <a href="#">Chính sách bảo hành</a>
                                        </li>
                                        <li>
                                            <a href="#">Chính sách mua hàng</a>
                                        </li>
                                        <li>
                                            <a href="#">Chính sách giao hàng</a>
                                        </li>
                                        <li>
                                            <a href="#">Câu hỏi thường gặp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="outer-footer__content u-s-m-b-40">
                                <span class="outer-footer__content-title">Dịch vụ</span>
                                <div class="outer-footer__list-wrap">
                                    <ul>
                                        <li>
                                            <a href="#">Dịch vụ bảo hành</a>
                                        </li>
                                        <li>
                                            <a href="#">Mua trả góp</a>
                                        </li>
                                        <li>
                                            <a href="#">Ưu đãi thanh toán</a>
                                        </li>
                                        <li>
                                            <a href="#">Mua hàng tích điểm</a>
                                        </li>
                                        <li>
                                            <a href="#">Khách hàng doanh nghiệp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="outer-footer__content">
                        <div style="margin-bottom: 10px;">
                            <span class="outer-footer__content-title" style="margin-bottom: 0;">Tư vấn mua hàng</span>
                            <span style="color: #ff4500;">1800 6601(Nhánh 1)</span>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <span class="outer-footer__content-title" style="margin-bottom: 0;">Hỗ trợ kỹ thuật</span>
                            <span style="color: #ff4500;">1800 6601 (Nhánh 2)</span>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <span class="outer-footer__content-title" style="margin-bottom: 0;">Góp ý, khiếu nại (8h00 -
                                22h00)</span>
                            <span style="color: #ff4500;">1800 6616</span>
                        </div>
                    </div>
                    <span class="outer-footer__content-title" style="margin-bottom: 0;">Hỗ trợ thanh toán</span>
                    <div style="display: flex;flex-wrap: wrap;max-width: 200px;">
                        <div class="payment-img">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img6.png">
                        </div>
                        <div class="payment-img">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img7.png">
                        </div>
                        <div class="payment-img">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img8.png">
                        </div>
                        <div class="payment-img">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-imgamex.png">
                        </div>
                        <div class="payment-img">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img11.png">
                        </div>
                        <div class="payment-img">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img12.png">
                        </div>
                        <div class="payment-img">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img10.png">
                        </div>
                        <div class="payment-img">
                            <img height="40px" src="https://fptshop.com.vn/Content/v4/images/ft-img15.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>