<div id="sidebar-wrapper" th:fragment="navbar-admin">
    <div style="width: 100%;height: 60px;text-align: center;line-height: 60px;border-bottom: 1px solid white;color: white;">Admin</div>
    <ul class="sidebar-nav">
        <li><a href="/admin">Trang chủ</a></li>
        <li><a href="/account/all">Quản lý tài khoản</a></li>
        <li><a href="/product/admin">Quản lý sản phẩm</a></li>
        <li><a href="/order/all/admin">Quản lý đơn hàng</a></li>
        <li><a href="/logout">Đăng xuất</a></li>
    </ul>
</div>